/* 
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f8ff;
}

.header{
    max-width: 1920px;
    height: 870px;
    background-image: url(Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav section design */

.menu{
    max-width: 1250px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 100px;
    height: 50px;
}

.logo h2{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 34px;
    color: #4e47ff;
}

/* .button{
    width: 150px;
    height: 50px;
} */

.button button{
    font-family: "Railway", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px;
    background-color: #4e47ff;
    color: #fff;
    border-radius: 10px;
    font-weight: 800;
    width: 150px;
    height: 50px;
}

/* banner design start */

.banner_container{
    width: 1080px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}


.banner{
    width: 800px;
    height: 200px;
}

.banner h1{
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    color: #252432;
}


.banner button{
    display: block;
    margin: 20px auto 0;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #4e47ff;
    color: #fff;
    border-radius: 6px;
    padding: 16px 25px;
    cursor: pointer;
}



/* header design complete */


/* action section styling */

.action{
    width: 100%;
    height: 600px;
}



.action_main{
    max-width: 1250px;
    height: 450px;
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box_1{
    width: 550px;
    height: 328px;
    margin-left: 10px;
}

.one_header{
    width: 100%;
    height: 250px;
}

.one_header h1{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    padding: 20px 0px;
    font-weight: 800;
    color: #252432;
}

.one_header p{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px 0;
    color: #8d8e98;
}

.one_button{
    width: 100%;
    height: 50px;
}

.one_button button{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 27px;
    border-radius: 10px;
    background-color: #4e47ff;
    color: #fff;
}


.box_2{
    width: 403px;
    height: 328px;
    margin-right: 10px;
}


.box_2 img{
    border-radius: 36px;
}

/* action section styling complete */


/* productive user section styling start */

.p_user_sect{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.p_main{
    width: 1250px;
    height: 250px;
    border-radius: 13px;
    background-color: #e5e7ff;
}


.p_banner_title{
    width: 750px;
    height: 60px;
    margin: auto;
    text-align: center;
}


.p_banner_title h2{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 15px 20px;
}


.p_count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
    width: 100%;
    height: 130px;
}


.count_one{
    width: 200px;
    height: 100%;
    text-align: center;
}

.count_one h1{
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    color: #4e47ff;
}


.count_one p{
    font-family: "Raleway", sans-serif;
    margin-top: 15px;
    font-size: 18px;
    color: #72737f;
}

/* productive user section style end */


.user_feedback{
    width: 100%;
    height: 700px;
}

.main_feedback{
    max-width: 1250px;
    height: 400px;
    margin: 100px auto 0;
}


.f_title{
    width: 700px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.f_title h1{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    color: #252432;
}


.f_card{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-left: 50px;
}


.card{
    width: 350px;
    height: 330px;
    background-color: #fff;
    border-radius: 13px;

}


.c_head ul{
    display: flex;
    margin-bottom: 20px;
}

.c_head ul li{
    list-style: none;
    padding: 10px 0px;
    margin-right: 10px;
}

.c_head ul li img{
    width: 30px;
    height: 30px;
}


.c_head h1{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 15px 0px;
}

.c_head p{
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    padding: 15px 0px;
    color: #72737f;
}


.c_bottom{
    display: flex;
    gap: 10px;
}


.c_bottom img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.c_title h1{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
}

.c_title p{
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    color: #72737f;
}


/* User feedback section design end */


/* account opening section styling start */

.ac_open{
    width: 100%;
    height: 800px;
}


.main_container{
   max-width: 1250px;
   height: 800px;
   background-color: #fff;
   border-radius: 13px;
   margin: 0 auto;
}




.head_title{
    width: 800px;
    height: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    padding: 20px 15px;
}


.head_title h1{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    padding: 10px 35px;
    color: #252432;
}

.head_title p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #72737f;
    padding: 15px 25px;
}


.head_btn button{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    background-color: #4e47ff;
    padding: 12px 30px;
    border-radius: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}


.display_img{
    max-width: 900px;
    height: 430px;
    margin: 0 auto;
}


.display_img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* account opening section styling done */

/* get in touch section styling start */

.get_in_touch{
    width: 100%;
    height: 900px;
}


.c_tainer{
    max-width: 1250px;
    height: 800px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_side{
    width: 50%;
    height: 50%;
}


.left_side h1{
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-transform: capitalize;
    color: #252432;
    padding: 25px 0px;
    margin-top: 60px;
}


.right_side{
    width: 50%;
    height: 70%;
}

form{
    padding: 15px 10px;
}

label{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
}

input{
    width: 450px;
    padding: 25px 45px;
    border-radius: 13px;
    margin: 25px 0;
    font-size: 20px;
}

textarea{
    width: 450px;
    height: 150px;
    padding: 25px 45px;
    margin: 25px 0px;
    border-radius: 13px;
}


.get_btn{
    width: 550px;
    height: 55px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    border-radius: 13px;
    background-color: #4e47ff;
    color: #fff;
}

/* account opening section styling done */


/* footer section styling start */


footer{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer_container{
    max-width: 1250px;
    height: 300px;
    margin: 0 auto;
}


.footer_banner{
    width: 700px;
    height: 50%;
}


.footer_title{
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

.footer_title h1{
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #4e47ff;
    margin: 0 auto;
    text-align: center;
}

.footer_para{
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
}

.footer_para p{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 25px;
    color: #72737f;
    font-weight: 600;
}


.footer_menu{
    width: 400px;
    height: 50px;
    margin-top: 100px;
    margin: 0 auto;
    padding: 30px 0px;
}


.footer_menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}


.footer_menu ul li{
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #72737f;
}


/* end of footer section styling */


button{
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}


button:hover{
    scale: (1.1);
    background-color: rgba(245, 245, 10, 0.897);
    color: #252432;
}